.button {
  color: #fff;
  text-decoration: none;
  margin: 0.2rem 0;
  padding: 0.7rem;
  position: relative;
  min-width: 120px;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgb(255, 0, 0),
    rgb(255, 115, 0),
    rgb(255, 251, 0),
    rgb(72, 255, 0),
    rgb(0, 255, 213),
    rgb(0, 43, 255),
    rgb(122, 0, 255),
    rgb(255, 0, 200),
    rgb(255, 0, 0)
  );
  background-size: 100% 500%;
  border: none;
  animation: 10s linear 0s infinite normal asdf;
  transition: opacity 0.3s ease-in-out 0s;

  @keyframes asdf {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

#dashboard_side {
  background-color: red;
  font-size: 10rem;
}
