body {
  background-color: var(--background_color);

  margin: 0 !important;
  padding: 0 !important;
  // font-family: "Computer Modern Serif" !important;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  * {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter,
      filter;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

input {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif !important;
}

body.light {
  --background_color: #fff;
  --text_color: #23272a; // stolen from the discord landing page. better readability than pure black.
  --contrast_bg_color: rgb(235, 235, 235);
  --contrasterer_bg_color: rgb(219, 219, 219);
  --disabled_color: rgb(167, 166, 166);
}

body.dark {
  --background_color: #222;
  --text_color: #fff;
  --contrast_bg_color: rgb(41, 41, 41);
  --contrasterer_bg_color: rgb(54, 54, 54);
  --disabled_color: rgb(61, 61, 61);
}

* {
  box-sizing: border-box;
}

#wrapper {
  min-height: calc(100vh - 10em);
  width: 100%;
}
