@import "_vars.scss";

#logo {
  height: 100%;
  width: 70%;
}

body {
  background-color: var(--background_color);

  margin: 0 !important;
  padding: 0 !important;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  --background_color: #fff;
  --text_color: #23272a; // stolen from the discord landing page. better readability than pure black.
  --contrast_bg_color: rgb(235, 235, 235);
}

body.dark {
  --background_color: #222;
  --text_color: #fff;
  --contrast_bg_color: rgb(41, 41, 41);
}

* {
  box-sizing: border-box;
}
