.footer {
  width: 100vw;
  height: 5rem;
  background-color: var(--contrast_bg_color);

  ul {
    display: flex;

    padding: 0 10rem;
    height: 100%;
    margin: 0;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    list-style: none;
    width: auto;

    color: var(--text_color);
    a {
      text-decoration: none;
    }

    button {
      background: transparent;
      border: none;
      color: var(--text_color);
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: auto;
    padding: 1rem 0;
    ul {
      justify-content: space-between;
    }

    a {
      padding: 0.5rem 0;
    }
  }
}

@media screen and (min-width: 2101px) {
  .footer {
    ul {
      padding: 0 20rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer ul {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .footer ul {
    flex-direction: column;
    gap: 0.5rem;

    li {
      padding-top: 0.5rem;
      border-top: solid var(--disabled_color) 1px;
      width: 100%;
    }
  }
}
