.footer {
  width: 100vw;
  height: 5rem;
  background-color: var(--contrast_bg_color);

  ul {
    display: flex;

    padding: 0 10rem;
    height: 100%;
    margin: 0;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    list-style: none;
    width: auto;
    padding: 0 clamp(1rem, 5vw, 3rem);
    margin: 0;

    color: var(--text_color);
    a {
      text-decoration: none;
    }

    button {
      background: transparent;
      border: none;
      color: var(--text_color);
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: auto;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: space-around;
    a {
      padding: 0.5rem 0;
    }
  }
}
