@import "general.module.scss";

#header {
  background-image: url("../assets/images/background.webp");
  height: calc(100vh - 5rem);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #title {
    h1 {
      color: white;
      font-size: 64pt;

      background-color: $primary_color;
      padding: 1rem;
    }
  }

  #scrollDown {
    position: absolute;
    bottom: 30px;
    color: white;
  }
}
