main {
  width: 100%;
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  background-color: white;
}

#logo {
  width: 400px;
}
