@import "_vars.scss";

main {
  width: 100%;
  min-height: 60vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 16pt;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: $not_quite_black;
  }
}

#mainThingy {
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 400px;
  width: 100%;

  color: var(--text_color);

  display: flex;
  justify-content: center;
  align-items: center;

  #title {
    h1 {
      margin: 0;
      font-size: 100pt;
      font-weight: bold;
      color: $not_quite_black;
    }
  }
}

#applySection {
  background-color: var(--background_color);
  color: var(--text_color);
}

.applyFlexContainer {
  display: flex;
  flex-direction: row;
}

.informationText {
  flex: 3;
  display: flex;

  flex-direction: column;

  p {
    color: var(--text_color);
  }
}

.backdrop {
  /*replace px*/
  padding: 0 5px;
  background: linear-gradient(
      transparent,
      transparent 42%,
      $primary_color 0,
      $primary_color 90%,
      transparent 0
    )
    no-repeat;
}

#choices {
  flex: 2;

  display: flex;
  flex-direction: column;

  color: $not_quite_black;

  .choice {
    cursor: pointer;
    background-color: var(--contrast_bg_color);
    border-radius: 0.5rem;
    -moz-box-shadow: inset 0 0 5px #c9c9c9;
    -webkit-box-shadow: inset 0 0 5px #c9c9c9;
    box-shadow: inset 0 0 5px #c9c9c9;

    background-image: url("../assets/images/logo-black.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: right;

    text-align: left;

    margin: 1rem;
    padding: 1rem;

    margin-left: 3rem;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    * {
      flex: 1; // to make the icon reach the bottom
    }

    i {
      text-align: center;
      width: 100%;
      font-size: 6rem;
    }

    span {
      padding-left: 2px;
    }

    a {
      color: var(--text_color);
    }
  }
}

@media screen and (min-width: 2101px) {
  #applySection {
    padding: 5rem 20rem;

    .applyFlexContainer {
      align-items: space-between;
    }
  }

  #choices {
    flex-direction: row;
  }
}

@media screen and (max-width: 2100px) and (min-width: 1801px) {
  #choices {
    flex-direction: column;
  }

  #apply-section {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1301px) {
  #mainThingy {
    flex-direction: column;
    padding: 3rem;
    #title h1 {
      font-size: 70pt;
    }
  }

  #choices {
    flex-direction: column;
  }

  #applySection {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 1300px) {
  #mainThingy {
    flex-direction: column;
    padding: 2rem;
    #title h1 {
      font-size: 50pt;
    }
  }
  .applyFlexContainer {
    flex-direction: column-reverse;
  }

  #choices {
    flex: 1;
    margin: 0;

    padding: 0;

    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;

    .choice {
      margin: 0;
      width: 100%;
    }

    flex-direction: row;
  }
  #applySection {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 800px) {
  #applySection {
    padding: 5rem;
  }
}
