#licenseText {
  margin: 0 auto;
  width: auto;
  font-family: "Hack" monospace !important;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  #licenseText {
    font-size: 10pt;
  }
}

@media screen and (max-width: 600px) {
  #licenseText {
    font-size: 4pt;
  }
}
