#login {
  margin-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--background_color);
  border: 5px;
  width: 30rem;
  margin: auto;
  h1 {
    text-align: center;
  }

  color: var(--text_color);
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;

  input {
    height: 2.5rem;
    color: var(--text_color);
  }
}

#submit {
  width: 40%;
  align-self: flex-end;
  height: 2rem;
  border-radius: 0.3rem;
  border-style: none;
  background-color: #98c222;
  font-weight: normal;
  font-size: 11pt;
}

.input-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  border-radius: 0.3rem;
  box-shadow: 0 0 0 2px var(--text_color);

  input {
    width: 90%;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
  }
}

.password-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  border-radius: 0.3rem;
  box-shadow: 0 0 0 2px var(--text_color);

  input {
    background-color: transparent;
    width: 90%;
    border: none;
    padding: 0.5rem;
  }

  button {
    background-color: transparent;
    color: var(--text_color);
    border: none;
  }
}

.password-eye {
  width: 10%;
  align-self: flex-end;
}
