@import "./general.module";

#login {
  margin-top: 5% !important;
  padding: 2rem;
  background-color: var(--background_color);
  border: 5px;
  max-width: 30rem;
  margin: auto;

  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 14pt;
    margin: 1rem 0 0;
    font-weight: bold;
  }

  #animationContainer {
    margin-top: -3rem;
    transform: scale(0.75); // this yields better performance than width I think
  }

  p {
    margin: 0.5rem 0;
    line-height: normal;
  }

  color: var(--text_color);

  background-color: var(--contrast_bg_color);
  border-radius: 0.5rem;
  -moz-box-shadow: inset 0 0 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 5px #c9c9c9;
  box-shadow: inset 0 0 5px #c9c9c9;
}

.inputFields {
  width: 80%;
  form {
    display: flex;
    flex-direction: column;

    // center button
    input[type="submit"] {
      margin: 1rem auto 0;
    }

    label {
      font-size: 0.8rem;
    }
  }
  margin: auto;

  input {
    height: 2.5rem;
    color: var(--text_color);

    &:focus {
      outline: none;
    }
  }
}

.inputField {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;

  border-radius: 0.3rem;
  box-shadow: 0 0 0 2px var(--text_color);

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
  }
}

.required {
  color: red;
}

@media screen and (max-width: 500px) {
  #login {
    margin: 1rem;
  }
}
