@import "./vars";

nav {
  width: 100vw;
  height: 5rem;

  background-color: white;

  color: $not_quite_black;

  ul {
    list-style: none;
    display: flex;

    height: 100%;

    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    padding: 0 3rem;
    margin: 0;

    #logo img {
      max-height: 3.7rem;
    }

    a {
      display: flex;
      align-items: center;

      text-decoration: none;

      color: $not_quite_black;

      transition: color 0.2s;
    }

    a:hover {
      color: lighten($not_quite_black, 20%);
    }

    #loginRegister {
      display: flex;
      * {
        margin: 0.5rem;
      }

      span {
        padding-left: 2px;
      }
    }
  }
}
