@import "general.module";

nav {
  width: 100vw;
  height: 5rem;

  background-color: var(--contrast_bg_color);

  ul {
    list-style: none;
    display: flex;

    height: 100%;

    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    padding: 0 3vw;
    margin: 0;

    #logo img {
      max-height: 3.7rem;
      .dark {
        content: url("../assets/images/logo.svg");
      }
      .light {
        content: url("../assets/images/logo.svg");
      }
    }

    a,
    button {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      font-family: Inter;

      text-decoration: none;

      color: var(--text_color);

      transition: color 0.2s;
    }

    #links {
      display: flex;

      gap: 3rem;

      justify-content: center;
      align-items: center;

      span {
        padding-left: 2px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem 5vw;
    height: auto !important;
  }

  ul {
    flex-direction: column;
    gap: 2rem;
    #links {
      flex-direction: column;
      gap: 1rem !important;
    }
  }
}
