@import "general.module";

nav {
  width: 100vw;
  height: 5rem;

  background-color: var(--contrast_bg_color);

  ul {
    list-style: none;
    display: flex;

    height: 100%;

    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    padding: 0 10rem;
    margin: 0;

    #logo {
      color: var(--disabled_color);
      text-transform: "uppercase";
      img {
        max-height: 3.7rem;
        .dark {
          content: url("../assets/images/logo.svg");
        }
        .light {
          content: url("../assets/images/logo.svg");
        }
      }

      * {
        text-align: left;
        display: flex;
        gap: 1rem;
        max-width: 10rem;
        align-items: center;
        color: var(--disabled_color);
      }
    }

    a,
    button {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      font-family: Inter;

      text-decoration: none;

      color: var(--text_color);

      transition: color 0.2s;
    }

    #links {
      display: flex;

      gap: 3rem;

      justify-content: center;
      align-items: center;

      span {
        padding-left: 2px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  nav ul {
    padding: 0 2rem;
  }
}
 
@media screen and (max-width: 600px) {
  nav {
    padding: 1rem 5vw;
    height: auto !important;
    display: flex;
    ul {
      margin-left: 2rem;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
      padding: 0;
      width: 100%;
      text-align: left;

      #links {
        flex-direction: column;
        gap: 0.5rem !important;
      }
    } 
  } 
  
}
