@import "./general.module";

.page {
  width: 100%;

  #title {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    height: 14rem;
    width: 100%;
    background-color: $primary_color;
  }

  #content {
    color: var(--text_color);
    font-size: 1.2rem;

    width: min(90%, 1000px);
    margin: 0 auto;

    padding: 2rem 0;
  }
}
