// Step 2
#container {
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--background_color);
  border: 3px;
  // margin: 3rem;
  grid-template-columns: 1fr;
  grid-template-areas: banane5;
  h1,
  h4 {
    text-align: center;
  }

  max-width: 60rem;

  color: var(--text_color);

  background-color: var(--contrast_bg_color);
  border-radius: 0.5rem;
  -moz-box-shadow: inset 0 0 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 5px #c9c9c9;
  box-shadow: inset 0 0 5px #c9c9c9;
}

.step {
  text-align: center;
}

.input-fields {
  margin: auto;
  margin-top: 1rem;
  width: 60%;

  form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .submit {
    width: 60%;
    height: 2rem;
    border-radius: 0.3rem;
    border-style: none;
    background-color: #98c222;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

    align-self: center;
  }

  #gymhaanPlacehodler {
    align-self: flex-end;
    font-size: 12px;
    margin: auto;
    margin-right: 10px;
    margin-left: 3px;
    text-align: right;
  }

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 2px var(--text_color);

    padding: 0.5rem;

    > input {
      width: 80%;
      border-width: 0;
      background-color: transparent;
      padding: 0;
      color: var(--text_color);
      &:focus {
        outline-width: 0;
      }
    }
  }
}

.subjects {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: banane banane2 banane3;
  grid-gap: 1rem;
}

.subject {
  text-align: left;
  background-color: var(--background_color);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 2px #c9c9c9;
  max-width: auto;
  display: grid;
  grid-template-columns: auto 0.5fr 1rem;
  grid-template-areas: banane1 banane2 banane3;
  grid-gap: 0.2rem;
  padding: 0.5rem 0;

  > select {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    p {
      font-size: 11pt !important;
    }

    margin-top: 3rem;
    width: auto;
  }
}
