#wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text_color);
}

#formContainer {
  margin-top: 5rem;
  width: 50rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  input[type="text"] {
    width: 100px;

    height: 2.5rem;
    border-radius: 0.5rem;
  }

  form {
    width: 100%;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    input {
      width: 100%;
    }
  }

  .subjectOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-collapse: separate;
      input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        border-collapse: separate;
      }
    }
  }
}
