@import "./general.module.scss";

//Step 1
#loginContainer {
  margin: 3rem auto;
  padding: 1rem;
  h1,
  h4 {
    text-align: center;
  }

  color: var(--text_color);

  background-color: var(--contrast_bg_color);
  border: 3px;
  max-width: 30rem;
  border-radius: 0.5rem;
  -moz-box-shadow: inset 0 0 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 5px #c9c9c9;
  box-shadow: inset 0 0 5px #c9c9c9;
  color: var(--text_color);
}

//Step 3
#confirmContainer {
  margin: 3rem auto;
  padding: 1rem;
  h1,
  h4 {
    text-align: center;
  }

  color: var(--text_color);

  background-color: var(--contrast_bg_color);
  border: 3px;
  max-width: 30rem;
  border-radius: 0.5rem;
  -moz-box-shadow: inset 0 0 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 5px #c9c9c9;
  box-shadow: inset 0 0 5px #c9c9c9;
  color: var(--text_color);
}

// Step 2
#container {
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--background_color);
  border: 3px;
  h1,
  h4 {
    text-align: center;
  }

  max-width: 60rem;

  color: var(--text_color);

  background-color: var(--contrast_bg_color);
  border-radius: 0.5rem;
  -moz-box-shadow: inset 0 0 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 5px #c9c9c9;
  box-shadow: inset 0 0 5px #c9c9c9;
}

#formContainer {
  margin: auto;
  width: 100%;
}

#submitContainer {
  margin: 1rem auto 0;
  width: 50%;
  display: flex;
  input {
    margin: auto;
  }
}

#letterAnimation {
  max-width: 15rem;
  max-height: 15rem;
  padding: 0;
  margin-top: 0;
  margin: auto;
  overflow: hidden;
}

#loginAnimation {
  max-width: 10rem;
  max-height: 10rem;
  padding: 0;
  margin-top: 0;
  margin: auto;
  overflow: hidden;
}

.step {
  margin-top: 2rem;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.next_button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: $primary_color;
  color: #fff;
  font-weight: boundefined;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding-left: 3rem;
  padding-right: 3rem;
  &:disabled {
    background-color: var(--disabled_color);
    cursor: not-allowed;
  }
}

.select_wrapper {
  width: 30%;
  height: 3.5rem;
  display: flex;
  align-self: center;
}

a {
  text-align: center;
  &:visited,
  &:link,
  &:hover,
  &:active {
    color: var(--text_color);
  }
}

.input-fields {
  margin: auto;
  margin-top: 1rem;
  width: 100%;

  form {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .submit {
    width: 10rem;
    height: 2rem;
    border-radius: 0.3rem;
    border-style: none;
    background-color: $primary_color;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

    align-self: flex-end;
    &:disabled {
      background-color: var(--disabled_color);
      cursor: not-allowed;
    }
  }

  #gymhaanPlacehodler {
    align-self: flex-end;
    font-size: 14px;
    margin: auto;
    padding-right: 0.7rem;
    padding-left: 0.3rem;
    text-align: right;
  }
  #idPlaceholder {
    align-self: flex-start;
    font-size: 14px;
    margin: auto;

    text-align: left;
  }

  #idInput {
    width: 100%;
  }

  .input-field {
    width: 20rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 2px var(--text_color);

    height: 2rem;
    padding-left: 0.7rem;
    padding-right: 0.3rem;

    > input {
      width: 80%;
      border-width: 0;
      background-color: transparent;
      padding: 0;
      height: 100%;
      font-size: 14px;
      color: var(--text_color);
      &:focus {
        outline-width: 0;
        outline: none;
      }
    }
  }
}

.textarea {
  resize: none;
  width: 100%;
  height: 7rem;
  font-size: 14px;
  border: none;
  border-radius: 0.3rem;
  background: transparent;
  color: var(--text_color);
  padding: 0.3rem;

  :focus {
    border: none;
  }
}

.subjects {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  gap: 1rem;

  h3 {
    width: 100%;
    text-align: left !important;
    padding-left: 3rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}

.subject {
  text-align: left;
  background-color: var(--background_color);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 2px #c9c9c9;
  max-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 1rem;
  width: 100%;

  > select {
    margin: auto;
    width: 40%;
  }

  h4 {
    width: 50%;
    text-align: left !important;
    margin: auto 0;
  }

  &#DONT_LOOK_AT_THIS_PLS_DONT {
    background-color: $primary_color !important;
    font-weight: bold !important;
  }
}

@media screen and (max-width: 768px) {
  .subjects {
    grid-template-columns: 1fr;

    h3 {
      padding-left: 0;
    }
  }

  .subject {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    p {
      font-size: 11pt !important;
    }

    margin-top: 3rem;
    width: auto;
    border: 0;
  }

  #loginContainer {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #confirmContainer {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    #justifyText {
      text-align: justify;
    }

    span {
      font-weight: bold;
    }
  }

  #container {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input-fields {
    form {
      flex-direction: column;
      .submit {
        width: 100%;
        height: 2.5rem;
        &:disabled {
          background-color: var(--disabled_color) !important;
          cursor: not-allowed;
        }
      }
    }
  }

  .input-field {
    width: 100% !important;
  }

  .subjects {
    flex-direction: column;
    flex-wrap: nowrap;

    h3 {
      padding-left: 0;
    }
  }

  .subject {
    width: 100%;
  }

  .next_button {
    margin-top: 3rem;
    width: 100%;
    height: 3rem;
  }
}

.selectGrade {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font-size: 12pt;
  border-radius: 3px;
  text-align: center;
  padding: 0.3rem;
  background-color: $primary_color;
  color: var(--text_color);
  cursor: pointer;
}

.firstSubmit {
}
