.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;

  .statValue {
    font-size: 2rem;
    font-weight: bold;

    &.loading {
      background: var(--contrasterer_bg_color);
      height: 1.3em;
      width: 3em;
      border-radius: 0.5rem;
    }
  }

  .statText {
    text-transform: uppercase;
    color: var(--disabled_color);
    font-weight: bold;
    font-size: 0.9rem;
  }

  height: 7rem;
}
