@import "general.module.scss";

* {
  font-size: 1rem;
}

.dashboard {
  color: var(--text_color);
  width: 100vw;

  .dashboard-content {
    margin: 2rem auto;
    min-width: 50%;
    max-width: 50rem;

    border-radius: 0.5rem;
    background-color: var(--contrast_bg_color);

    padding: 2rem;

    > h1 {
      margin: 0;
      font-weight: normal;
      font-size: 3rem;
    }

    > h2 {
      font-size: 1.7rem;
    }

    > h4 {
      font-weight: normal;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    .name {
      font-family: Hack, Menlo, monospace !important;
      background-color: var(--contrast_bg_color);
      padding: 4px;
      border-radius: 8px;
      margin-right: 4px;
    }
  }
}

.modal-background {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  align-items: center;
  justify-content: center;

  background-color: #aaaaaa5f;

  .modal-content {
    z-index: 999;

    margin-top: -10rem;

    background-color: var(--background_color);
    padding: 2rem;
    border-radius: 0.5rem;
    justify-content: center;

    .modal-heading-row {
      display: flex;

      h1 {
        flex: 1;
        font-size: 1rem;

        margin: auto 0;
      }

      button {
        background-color: $error_color;
        color: white;
        border: none;

        border-radius: 5px;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
      }
    }

    form {
      display: flex;
      gap: 1rem;
      width: 100%;

      input {
        height: 2rem;
        border-radius: 0.3rem;
        border: none;
        background-color: var(--contrast_bg_color);
        color: var(--text_color);
      }

      input[type="text"] {
        box-shadow: 0 0 0 2px var(--text_color);
        flex: 1;
      }

      input[type="submit"] {
        width: 5rem;
        box-shadow: 0 0 0 2px var(--contrast_bg_color);
        cursor: not-allowed;

        &:enabled {
          cursor: pointer;
          background-color: $error_color;
          box-shadow: 0 0 0 2px $error_color;
          color: white;
        }
      }
    }
  }
}

.danger-zone {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid $error_color;

  > .danger-item {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;

    * {
      margin: 0;
    }

    button {
      height: 2rem;
      background-color: $error_color;
      color: white;
      border: none;
      font-size: inherit;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 5px;
    }

    button:disabled {
      background-color: var(--disabled_color);
    }

    .danger-action {
      font-weight: bold;
      margin: 0 0 5px;
    }
  }
  hr {
    border: none;
    border-top: 1px solid grey;
  }
}

.close-button {
  cursor: pointer;
}

.subjects-container {
  border: solid 2px grey;
  border-radius: 0.5rem;
  padding: 1rem;

  .subjects {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;

    width: 100%;
  }

  .subject {
    text-align: left;
    background-color: var(--background_color);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 2px #c9c9c9;
    max-width: auto;
    padding: 0 1rem;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    > select {
      margin: auto;
      width: 40%;
    }

    h4 {
      margin: 0;
      width: 50%;
    }

    .choose-grade {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .subjects {
      flex-direction: column;
      flex-wrap: nowrap;

      h3 {
        padding-left: 0;
      }
    }

    .subject {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .danger-item {
    flex-direction: column;
  }
}
